<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="WafiLife PW Suite" parallel="false" verbose="2">

    <test name="WafiLife Home Page Test_chrome">
        <classes>
            <class name="tests.HomePageTest" />
            <class name="tests.LoginPageTest" />
            <class name="tests.LekhokPageTest" />
            <class name="tests.CheckoutPageTest" />
        </classes>


    </test>

</suite>